Once you get some idea about it try below things in Jupyter Notebook:
1) Load the data.
2) How many rows and columns are there?
3) Is there any null value, if yes in which column and its count.
4) Check the type of each column.
 
Data Insights:
1) Create a new column “HoursInADay” from “step” in same data frame.
2) Check how many type of transactions are there and get the count of each type.
3) How many unique Transactions done by users(user is nameOrig)
4) What is the Highest Number of Transaction done by any user.
5) Frequency of each number of transactions.
6) How many transaction is done for Merchant and how many are there for Customers.
7) Get the number of fraud cases in a given data set.
8) What is the percentage of non-Fraud cases?

In [1]:
import pandas as pd
import numpy as np

In [2]:
d=pd.read_csv("C:\\Users\\Devendran.D\\Downloads\\paysim1\\FA.csv")

In [3]:
d.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [4]:
#Amount of Rows and Columns
d.shape

(6362620, 11)

In [5]:
#Is there any null value, if yes in which column and its count
#d.isnull().sum()
d.isnull().sum(axis=0)

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [6]:
#Is there any null value, if yes in which column and its count
#d.isnull().sum(axis=1)

In [7]:
#the type of each column
d['step'].dtype

dtype('int64')

In [8]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
step              int64
type              object
amount            float64
nameOrig          object
oldbalanceOrg     float64
newbalanceOrig    float64
nameDest          object
oldbalanceDest    float64
newbalanceDest    float64
isFraud           int64
isFlaggedFraud    int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB

In [9]:
d.fillna("", inplace=True)
d.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [10]:
d.corr()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
step,1.000000,0.022373,-0.010058,-0.010299,0.027665,0.025888,0.031578,0.003277
amount,0.022373,1.000000,-0.002762,-0.007861,0.294137,0.459304,0.076688,0.012295
oldbalanceOrg,-0.010058,-0.002762,1.000000,0.998803,0.066243,0.042029,0.010154,0.003835
newbalanceOrig,-0.010299,-0.007861,0.998803,1.000000,0.067812,0.041837,-0.008148,0.003776
oldbalanceDest,0.027665,0.294137,0.066243,0.067812,1.000000,0.976569,-0.005885,-0.000513
newbalanceDest,0.025888,0.459304,0.042029,0.041837,0.976569,1.000000,0.000535,-0.000529
isFraud,0.031578,0.076688,0.010154,-0.008148,-0.005885,0.000535,1.000000,0.044109
isFlaggedFraud,0.003277,0.012295,0.003835,0.003776,-0.000513,-0.000529,0.044109,1.000000

In [11]:
#Index Description
d.index

RangeIndex(start=0, stop=6362620, step=1)

In [12]:
#Columns in the DataFrame
d.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')

In [13]:
d['HoursInADay']=d["step"]%24

In [14]:
s=d.groupby(d["step"]%24).size().reset_index(name='HoursInADay')

In [15]:
s.sum()

step               276
HoursInADay    6362620
dtype: int64

In [16]:
s.count()

step           24
HoursInADay    24
dtype: int64

In [17]:
s

    step  HoursInADay
0      0        71587
1      1        27111
2      2         9018
3      3         2007
4      4         1241
5      5         1641
6      6         3420
7      7         8988
8      8        26915
9      9       283518
10    10       425729
11    11       445992
12    12       483418
13    13       468474
14    14       439653
15    15       416686
16    16       441612
17    17       439941
18    18       580509
19    19       647814
20    20       553728
21    21       247806
22    22       194555
23    23       141257

In [18]:
d.tail()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,HoursInADay
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.0,C776919290,0.00,339682.13,1,0,23
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.0,C1881841831,0.00,0.00,1,0,23
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.0,C1365125890,68488.84,6379898.11,1,0,23
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.0,C2080388513,0.00,0.00,1,0,23
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.0,C873221189,6510099.11,7360101.63,1,0,23

In [19]:
p=d['type'].value_counts()
p

CASH_OUT    2237500
PAYMENT     2151495
CASH_IN     1399284
TRANSFER     532909
DEBIT         41432
Name: type, dtype: int64

In [20]:
p.count()

5

In [21]:
p.sum()

6362620

In [22]:
d['nameOrig'].unique

<bound method Series.unique of 0          C1231006815
1          C1666544295
2          C1305486145
3           C840083671
4          C2048537720
              ...
6362615     C786484425
6362616    C1529008245
6362617    C1162922333
6362618    C1685995037
6362619    C1280323807
Name: nameOrig, Length: 6362620, dtype: object>

In [23]:
d['nameOrig'].value_counts()

C1065307291    3
C1530544995    3
C1462946854    3
C1832548028    3
C2098525306    3
              ..
C868216093     1
C804129577     1
C62820468      1
C936315442     1
C414831948     1
Name: nameOrig, Length: 6353307, dtype: int64

In [24]:
d['nameDest'].astype

<bound method NDFrame.astype of 0          M1979787155
1          M2044282225
2           C553264065
3            C38997010
4          M1230701703
              ...
6362615     C776919290
6362616    C1881841831
6362617    C1365125890
6362618    C2080388513
6362619     C873221189
Name: nameDest, Length: 6362620, dtype: object>

In [25]:
d["M/Ctype"]= d["nameDest"].str.slice(0, 1, 1)

In [26]:
d.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,HoursInADay,M/Ctype
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0,1,M
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0,1,M
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0,1,C
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0,1,C
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0,1,M

In [27]:
d["nameDest"].value_counts()

C1286084959    113
C985934102     109
C665576141     105
C2083562754    102
C248609774     101
              ...
C174817442       1
M2048059113      1
M1149935444      1
M521935617       1
M2036616274      1
Name: nameDest, Length: 2722362, dtype: int64

In [28]:
d["nameDest"]= d["nameDest"].str.slice(0, 1, 1)
d["nameDest"].head(10)

0    M
1    M
2    C
3    C
4    M
5    M
6    M
7    M
8    M
9    C
Name: nameDest, dtype: object

In [29]:
d["Merchant"]= d["M/Ctype"]=='M'

In [30]:
d["Customer"]=d["M/Ctype"]=='C'

In [31]:
d['isFraud'].unique

<bound method Series.unique of 0          0
1          0
2          1
3          1
4          0
          ..
6362615    1
6362616    1
6362617    1
6362618    1
6362619    1
Name: isFraud, Length: 6362620, dtype: int64>

In [32]:
d['isFraud'].value_counts()

0    6354407
1       8213
Name: isFraud, dtype: int64

In [33]:
(d['isFraud'].value_counts()/d['isFraud'].count())*100

0    99.870918
1     0.129082
Name: isFraud, dtype: float64

In [34]:
feature_cols = ["step","type","HoursInADay","M/Ctype"]
x = d[feature_cols]
y = d.isFraud
# Splitting data

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=21)

# Model development and prediction - Logistic Regression

from sklearn.linear_model import LogisticRegression

logr = LogisticRegression()

# fit model with data

logr.fit(x_train,y_train)

# prediction

y_pred = logr.predict(x_test)

# Model Evaluation using Confusion Matrix - Logistic Regression

from sklearn import metrics

cnf_matrix = metrics.confusion_matrix(y_test, y_pred)

cnf_matrix

ValueError: could not convert string to float: 'C'

-------------------------------------------------practice-------------------------------------------------------------

In [89]:
d["H"]=d["step"]%24

In [130]:
x=pd.unique(d['type'])

In [127]:
x

array(['PAYMENT', 'TRANSFER', 'CASH_OUT', 'DEBIT', 'CASH_IN'],
      dtype=object)

In [131]:
y=d['type'].value_counts()

In [132]:
y

CASH_OUT    2237500
PAYMENT     2151495
CASH_IN     1399284
TRANSFER     532909
DEBIT         41432
Name: type, dtype: int64

In [94]:
h=d.groupby(['H']).size().reset_index(name='HourADay')

In [95]:
h['HourADay'].sum()

6362620

In [100]:
s=d.groupby(d["step"]%24).size().reset_index(name='HoursInADay')

In [101]:
s.count()

step           24
HoursInADay    24
dtype: int64

In [103]:
s.sum()

step               276
HoursInADay    6362620
dtype: int64

In [13]:
#Columns in the DataFrame
d.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')

In [9]:
#Non-null data counts
d.count()

step              6362620
type              6362620
amount            6362620
nameOrig          6362620
oldbalanceOrg     6362620
newbalanceOrig    6362620
nameDest          6362620
oldbalanceDest    6362620
newbalanceDest    6362620
isFraud           6362620
isFlaggedFraud    6362620
dtype: int64

In [ ]:
#Sum of values in a DataFrame
d.sum()

In [ ]:
#Lowest value of a DataFrame
d.min()

In [ ]:
#Highest value
d.max()

In [ ]:
#Index of the lowest value
d.idxmin()

In [ ]:
#Index of the highest value
d.idxmax()

In [ ]:
#Statistical summary of the DataFrame, with quartiles, median, etc.
d.describe()

In [ ]:
#Average values
d.mean()

In [ ]:
#Median values
d.median()

In [ ]:
#Ordering in ascending order
df.sort_values()

In [ ]:
#Ordering in descending order
df.sort_values(ascending = False)

In [ ]:
#Create a new function:
def num_missing(x):
  return sum(x.isnull())

#Applying per column:
#print "Missing values per column:"
d.apply(num_missing, axis=0) #axis=0 defines that function is to be applied on each column

In [ ]:
d["Name"]= data["Name"].str.slice(start, stop, step)